* {
    font-family: sans-serif;
    box-sizing: border-box;
}
body {
    background-color: gainsboro;
}
main {
    min-width: 780px;
    max-width: 1280px;
    margin: 0 auto;
}
#history {
    height: 70vh;
    background-color: white;
    border: 3px solid darkgray;
    border-radius: 10px;
    overflow-y: auto;
}
#history > p {
    margin: 0.25rem 0 0.25rem 1rem;
}
form {
    display: flex;
    margin-top: 5px;
}
form > button {
    width: 9%;
    margin-left: 1%;
}
form > input {
    width: 90%;
}
form > button, form > input {
    border-radius: 10px;
    border: 3px solid darkgray;
    height: 2rem;
}