* {
    box-sizing: border-box;
    font-family: sans-serif;
}
.hidden {
    display: none;
}
header, main {
    min-width: 768px;
    max-width: 1280px;
    margin: 0 auto;
}
header form, fieldset {
    display: flex;
    align-items: center;
}
#search {
    width: 100%;
}
fieldset{
    width: 30%;
    height: 3rem;
    padding: 0;
    border: none;
}
fieldset, label {
    margin-right: 1%;
}
input{ 
    height: 2rem;
    flex-grow: 3;
}
button {
    width: 7%;
    height: 2rem;
}
input, button {
    border: 2px solid darkgrey;
    border-radius: 5px;
}

main {
    display: flex;
}
main div {
    border: 3px solid black;
    border-radius: 5px;
    margin: 5px;
    max-width: 200px;
}
main img {
    width: 100%;
}
main p {
    margin: 5px 3px;
}
main span {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}
a {
    text-decoration: none;
}
a:hover {
    font-weight: bolder;
}